/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


    body {
      font-size: 20px; 
      margin: 20px;
    }
    
    h1 {
      font-size: 30px;
    }

    section figure {
      margin-bottom: 50px;
    }



article {

}

h1 {

}

h2 {

}

img {
    max-width: 100%;
}

main {

}

section {

}

figure {
    margin: 0;
    width: 40%;
}

figcaption {
  font-size: .8em;
}

/* mobile css */
@media screen and (max-width: 650px){
  body {
    background-color: #FD9577;
    margin: 10px;
  }

  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}