body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



header{
    border: 3px solid red;
    background-color: greenyellow;
    padding: 20px;
}


.nav ul li{
    display: inline-block;
    margin-right: 100px;
    color: white;
    
}


ul li:hover{
    background-color: whitesmoke;
}



.article{
    border: 4px solid red;
    background-color: #E8A241;
    width: 65%;
    padding: 20px;
    padding-bottom: 620px;
    margin-right: 10px;
    position: absolute;
    top: 155px;
}



.italico{
    font-style: italic;
}


.table{
    background-color: #F8DC5C;
    width:100% ;
    border: 2px solid black;
}