body{
    background-color:#FABA9D ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



header{
    
    background-color: #D98332;
    padding: 20px;
}


.nav ul li{
    
    height: 20px;
    border-radius: 50%;
    background-color:#DB9E04;
    display: inline-block;
    margin-right: 70px;
    color: white;
    
}


.nav ul li:hover{
    background-color: whitesmoke;
}



.article{
    display: inline-block;
    background-color: #E8A241;
    width: 65%;
    padding: 20px;
    padding-bottom: 620px;
    margin-right: 10px;
    position: absolute;
    top: 155px;
}



.italico{
    font-style: italic;
}


.table{
    background-color: #F8DC5C;
    width:100% ;
    border: 2px solid black;
}


.pontos{

    color: #D94918;
}